<div>
    <form autocomplete="false" class="form login-form">
        <h4>Login</h4>
        <div class="control">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Email" required>
        </div>
        <div class="control">
            <label for="password">Password</label>
            <input type="password" autocomplete="new-password" id="password" placeholder="Password" required>
        </div>  
        <div class="control">
            <button type="submit">Login</button>
        </div>
    </form>
</div>